.root {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.label {
	flex: 1 1 0;
}

.input {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	border-radius: 8px;
	box-sizing: border-box;
	border: 2px solid var(--accent-color);
	padding: 5px 12px;
	margin: 10px 0;
}

.labelText {
	display: flex;
	align-items: center;
}

.labelText button {
	margin-right: 10px;
}

.labelTextEnd {
	justify-content: flex-end;
}

.labelTextEnd button {
	margin: 0 0 0 10px;
}

.button {
	display: inline-block;
	background-color: transparent;
}
