.searchBar {
	display: flex;
	align-items: center;
	height: 35px;
	background-color: var(--page-background-light);
	padding: 0 10px;
	border-radius: 7px;
}

.searchBarInvert {
	background-color: var(--page-background);
}

.searchBarInput {
	flex: 1 1 0;
	height: 100%;
	background-color: transparent;
	border: none;
	font: inherit;
	outline: none;
}

.searchBarClear {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	font: inherit;
	font-size: 1.1em;
	cursor: pointer;
}
