html,
body {
  margin: auto;
  --ancent-color: rgb(18, 124, 230);
  --ancent-color-light: rgb(32, 138, 243);
  --ancent-color-dark: rgb(19, 105, 190);
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

body {
  color: #333;
  margin: auto;
  box-sizing: border-box;
  font-family: "Circe Rounded";
  max-width: 550px;
  background-color: rgb(248, 248, 248);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--ancent-color);
  text-decoration: none;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font: inherit;
  font-size: inherit;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}
