.avatar {
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	background-color: #9ac7ff;
	color: #fff;
	text-overflow: clip;
	font-weight: 600;
	overflow: hidden;
}

.avatar__image {
	max-width: 100%;
}

.avatar--rounded {
	border-radius: 50%;
}
