.root {
	background-color: var(--page-background-light);
	box-shadow: var(--shadow-light);
	border-radius: 15px;
	--button-text-color: var(--text-color);
	padding: 8px;
	--borderWidth: 4px;
	position: relative;
	margin-top: var(--borderWidth);
	transition: 2s;
}

.rootAnimated:after {
	border-radius: 15px;
	content: "";
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #bc09e7, #5073b8, #1098ad, #07b39b, #6fba82);
	z-index: -1;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
}

.actions {
	display: flex;
	align-items: center;
}

.title button {
	background-color: transparent;
}

.titleControls {
	display: flex;
}

.dayNames {
	display: flex;
	justify-content: space-around;
	font-size: 0.7em;
	font-weight: 600;
	padding: 10px 0;
	gap: 4px;
}

.dayName {
	flex-basis: calc(100% / 8);
	display: flex;
	justify-content: center;
}

.days {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
	gap: 4px;
	position: relative;
}

.day {
	flex-basis: calc(100% / 8);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9em;
	position: relative;
}

.dayButton {
	font-weight: 600;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 0.9em;
	color: var(--text-color);
	background-color: var(--secondary-color);
	position: relative;
}

.dayCurrent {
	background-color: var(--secondary-color-dark);
	color: var(--accent-color-revert);
}

.day button:disabled {
	color: var(--text-color);
	background-color: var(--page-background-light);
	opacity: 0.4;
}

.dayCounter {
	position: absolute;
	top: -2px;
	right: -2px;
	width: 15px;
	border-radius: 50%;
	height: 15px;
	color: var(--badge-color);
	background-color: var(--badge-bg-color);
	font-size: 0.8em;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: var(--shadow);
}

.loading {
	position: absolute;
	top: 0;
	width: 100%;
	height: 3px;
	z-index: 1;
	transition: 3s;
}

.daysContainer {
	position: relative;
}
