.root {
}

.listTitle {
	font-size: 0.8em;
	padding: 1px 0;
}

.item {
	display: flex;
	position: relative;
}

.itemBetweenContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color);
}

.itemBetweenContent > div {
	display: flex;
	align-items: center;
}

.itemBetweenContentRight {
	color: var(--text-color-light) !important;
}

.itemBetweenContentLeft svg {
	margin-right: 10px;
}

.itemLink {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: inline-block;
	opacity: 1;
}

.itemAvatar {
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.itemContent {
	font-size: 0.9em;
	color: var(--text-color-light);
	margin-top: 4px;
}

.rightButtons {
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid var(--separator-color);
}

.itemContentWrapper {
	display: flex;
	flex: 1 1 0;
	padding: 10px 0;
	border-bottom: 1px solid var(--separator-color);
	flex-direction: column;
}

.item:last-child .itemContentWrapper {
	border: none;
}
