.root {
}

.listTitle {
	font-size: 0.8em;
	padding: 1px 0;
}

.item {
	display: flex;
	position: relative;
}

.itemLink {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.itemTitle {
}

.itemAvatar {
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.itemContent {
	font-size: 0.9em;
	color: var(--text-color-light);
	margin-top: 4px;
}

.itemContentWrapper {
	display: flex;
	flex: 1 1 0;
	padding: 10px 0;
	border-bottom: 1px solid var(--separator-color);
	flex-direction: column;
}

.item:last-child .itemContentWrapper {
	border: none;
}
