.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(43, 43, 43, 0.79);
	top: 0;
	left: 0;
}

.picker {
	z-index: 10;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 530px;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.picker > * {
	width: 90%;
	height: 90%;
}

.container {
	background-color: var(--page-background-light);
	border-radius: 8px;
	box-shadow: var(--shadow-light);
}

.grid {
	height: 100%;
	display: flex;
	flex-direction: column;

	--searchBarHeight: 50px;
	--actionsHeight: 60px;
	--titleBarHeight: 45px;
}

.actions {
	display: flex;
	align-items: center;
	height: var(--actionsHeight);
	padding: 0 10px;
}

.titleBar {
	display: flex;
	align-items: center;
	height: var(--titleBarHeight);
	justify-content: center;
	padding: 0 10px;
	font-size: 1.2em;
	position: relative;
}

.titleBarCloseButton {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	font-weight: bold;
	font-size: 1.4em;
	background-color: transparent;
	padding: 0;
	margin: 0;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchBar {
	height: var(--searchBarHeight);
	flex-direction: column;
	display: flex;
	padding: 0 10px;
	justify-content: center;
}

.content {
	height: calc(100% - var(--actionsHeight) - var(--searchBarHeight) - var(--titleBarHeight));
	overflow-x: auto;
}

.list {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	list-style: none;
}

.selectedBadge {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	background-color: var(--accent-color);
	justify-content: center;
	color: var(--accent-color-revert);
}
