.root {
	height: var(--navBar-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.list {
	list-style: none;
	padding: 0;
	display: flex;
	height: 70%;
	background-color: var(--page-background-light);
	margin: 0 15px;
	border-radius: 15px;
	color: var(--text-color-light);
	box-shadow: var(--shadow-light);
}

.button {
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	border: none;
	font: inherit;
	background-color: transparent;
	color: inherit;
	flex: 1 1 0;
}

.buttonActive {
	color: var(--accent-color);
}

.link {
	display: flex;
	justify-content: center;
	flex: 1 1 0;
	height: 100%;
}

.linkName {
	font-size: 0.7em;
	font-weight: 500;
}

.linkIcon {
	font-size: 1.7em;
	line-height: 0;
}
