.notifications {
	position: absolute;
	bottom: calc(var(--tabbar-height) + 20px);
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 10;
}

.message {
	text-align: center;
	border-radius: 5px;
	padding: 7px;
	color: #404040;
	background-color: #eaeaea;
	border: none;
	transition: 0.3s;
}

.message:hover {
	opacity: 0.8;
}

.success-message {
	color: #498642;
	background-color: #9aff9a;
}

.error-message {
	color: #bd4545;
	background-color: #ffc7c7;
}
