.tabbar {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: calc(100%);
	background-color: #ffd6fc;
	border-radius: 15px 15px 0 0;
}

.tabbar__item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	height: 100%;
	transition: 0.4s;
}

.tabbar__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.7em;
	color: rgb(39, 39, 39);
	transition: 0.2s;
	width: 100%;
	height: 100%;
	font-weight: 600;
}

.tabbar__link:hover,
.tabbar__link:focus {
	color: #a35471;
	text-decoration: none;
	background-color: inherit;
}

:global(.tabbar__item > a.active) {
	color: #a35471;
}

:global(.tabbar__link > svg) {
	width: 25px;
}

@media (min-width: 1024px) {
	.tabbar {
		flex-direction: column;
		height: 100vh;
		border-radius: 0;
		justify-content: start;
	}

	.tabbar__item {
		flex-grow: unset;
		height: 80px;
	}

	:global(.tabbar__link > svg) {
		width: 35px;
	}
}
